<ng-template #publicationInfo>
  <tr class="tablefooter">
    <td colspan="6">
      <div class="form-row">
        <label class="block">{{ "PUBLIC_DURATION" | translate }} (1-99)</label>
        <div class="right">
          <div class="inputgroup">
            <label for="defaultDuration" class="block">{{ "DEFAULT" | translate }}</label>
            <p-inputNumber id="defaultDuration"
              [(ngModel)]="subrubric.info.publicDuration.default"
              mode="decimal" [min]="1" [max]="99" [maxlength]="2"
              [showButtons]="true"
              [placeholder]="this.numberToString( subrubric.template.info.publicDuration.default )"
              (ngModelChange)="configService.delaySave()"
            />
          </div>
          <div class="inputgroup">
            <label for="minDuration" class="block">{{ "MIN" | translate }}</label>
            <p-inputNumber id="minDuration"
              [(ngModel)]="subrubric.info.publicDuration.min"
              mode="decimal" [min]="1" [max]="99" [maxlength]="2"
              [showButtons]="true"
              [placeholder]="this.numberToString( subrubric.template.info.publicDuration.min )"
              (ngModelChange)="configService.delaySave()"
            />
          </div>
          <div class="inputgroup">
            <label for="maxDuration" class="block">{{ "MAX" | translate }}</label>
            <p-inputNumber id="maxDuration"
              [(ngModel)]="subrubric.info.publicDuration.max"
              mode="decimal" [min]="1" [max]="99" [maxlength]="2"
              [showButtons]="true"
              [placeholder]="this.numberToString( subrubric.template.info.publicDuration.max )"
              (ngModelChange)="configService.delaySave()"
            />
          </div>
          <p-button icon="pi pi-refresh"
            (click)="resetPublicDuration(); configService.delaySave()"
            pTooltip="{{ 'RESET' | translate }}" tooltipPosition="left" [positionTop]="0" [positionLeft]="15"
            [ngClass]="isEmpty( subrubric.info.publicDuration.default ) && isEmpty( subrubric.info.publicDuration.min ) && isEmpty( subrubric.info.publicDuration.max ) ? 'p-button-light' : ''"
            styleClass="minibutton" [style]="{ marginBottom: '0.25rem', marginLeft: '1rem' }"
          />
        </div>
      </div>
      <div class="form-row">
        <label class="block">{{ "AUTHORIZATION" | translate }}</label>
        <div style="display: flex">
          <p-selectButton *ngIf="translateService.currentLang === 'de'"
            [(ngModel)]="subrubric.info.authorizationSelected"
            [options]="configService.configRoot.authorizationRegistrationOfficeTypes" optionLabel="name.de" optionValue="code"
            [multiple]="true"
            (ngModelChange)="subrubric.info.authorizationChanged = true"
            [ngClass]="!subrubric.info.authorizationChanged ? 'p-button-light' : ''"
          />
          <p-selectButton *ngIf="translateService.currentLang === 'fr'"
            [(ngModel)]="subrubric.info.authorizationSelected"
            [options]="configService.configRoot.authorizationRegistrationOfficeTypes" optionLabel="name.fr" optionValue="code"
            [multiple]="true"
            (ngModelChange)="subrubric.info.authorizationChanged = true"
            [ngClass]="!subrubric.info.authorizationChanged ? 'p-button-light' : ''"
          />
          <p-selectButton *ngIf="translateService.currentLang === 'it'"
            [(ngModel)]="subrubric.info.authorizationSelected"
            [options]="configService.configRoot.authorizationRegistrationOfficeTypes" optionLabel="name.it" optionValue="code"
            [multiple]="true"
            (ngModelChange)="subrubric.info.authorizationChanged = true"
            [ngClass]="!subrubric.info.authorizationChanged ? 'p-button-light' : ''"
          />
          <p-selectButton *ngIf="translateService.currentLang === 'en'"
            [(ngModel)]="subrubric.info.authorizationSelected"
            [options]="configService.configRoot.authorizationRegistrationOfficeTypes" optionLabel="name.en" optionValue="code"
            [multiple]="true"
            (ngModelChange)="subrubric.info.authorizationChanged = true"
            [ngClass]="!subrubric.info.authorizationChanged ? 'p-button-light' : ''"
          />
          <p-button icon="pi pi-refresh"
            pTooltip="{{ 'RESET' | translate }}" tooltipPosition="left" [positionTop]="0" [positionLeft]="15"
            (click)="resetAuthorization(); configService.delaySave()"
            styleClass="minibutton" [ngClass]="!subrubric.info.authorizationChanged ? 'p-button-light' : ''" [style]="{ marginTop: '0.4375rem', marginLeft: '1rem' }"
          />
        </div>
      </div>
      <div class="form-row-textarea">
        <div>
          <label class="block">{{ "LEGAL_NOTICE" | translate }}</label>
          <div style="display: flex">
            <p-button icon="pi pi-refresh"
              pTooltip="{{ 'RESET' | translate }}" tooltipPosition="left" [positionTop]="0" [positionLeft]="15"
              (click)="resetLegalNotice(); configService.delaySave()"
              styleClass="minibutton" [ngClass]="isEmpty( subrubric.info.legalNotice.get( translateService.currentLang )) ? 'p-button-light' : ''" [style]="{ marginTop: '0.25rem', marginLeft: '1rem' }"
            />
          </div>
        </div>
        <textarea pInputTextarea *ngIf="translateService.currentLang === 'de'"
          [(ngModel)]="subrubric.info.legalNotice.de"
          [placeholder]="subrubric.template.info.legalNotice.deSubstitute"
          (change)="configService.delaySave()"
          style="height: 8rem"
        ></textarea>
        <textarea pInputTextarea *ngIf="translateService.currentLang === 'fr'"
          [(ngModel)]="subrubric.info.legalNotice.fr"
          [placeholder]="subrubric.template.info.legalNotice.frSubstitute"
          (change)="configService.delaySave()"
          style="height: 8rem"
        ></textarea>
        <textarea pInputTextarea *ngIf="translateService.currentLang === 'it'"
          [(ngModel)]="subrubric.info.legalNotice.it"
          [placeholder]="subrubric.template.info.legalNotice.itSubstitute"
          (change)="configService.delaySave()"
          style="height: 8rem"
        ></textarea>
        <textarea pInputTextarea *ngIf="translateService.currentLang === 'en'"
          [(ngModel)]="subrubric.info.legalNotice.en"
          [placeholder]="subrubric.template.info.legalNotice.enSubstitute"
          (change)="configService.delaySave()"
          style="height: 8rem"
        ></textarea>
      </div>
    </td>
  </tr>
</ng-template>

<p-table
  [value]="terms"
  [scrollable]="true" scrollHeight="flex"
  styleClass="p-datatable-sm"
>

  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3.5rem; min-width: 3.5rem; max-width: 3.5rem"></th>
      <th>{{ "TERM" | translate }}</th>
      <th>{{ "TYPE" | translate }}</th>
      <th style="text-align: center">{{ "REQUIRED" | translate }}</th>
      <th style="text-align: center">{{ "EDITABLE" | translate }}</th>
      <th></th>
    </tr>
    <tr *ngIf="terms.length < 1" style="background: #fff">
      <td colspan="5" style="height: 2rem"></td>
    </tr>
    <ng-container *ngIf="terms.length < 1" [ngTemplateOutlet]="publicationInfo"/>
  </ng-template>

  <ng-template pTemplate="body" let-term let-rowIndex="rowIndex">
    <tr [ngClass]="{ highlight: term.templateTerm.primary || term.term.type === 'businessCase', primary: term.templateTerm.primary }">
      <td style="width: 3.5rem; min-width: 3.5rem; max-width: 3.5rem; height: 2.0675rem; padding-top:0.3125rem; padding-left:1rem">
        <p-checkbox
          [(ngModel)]="term.assigned" [binary]="true"
          (ngModelChange)="configService.delaySave()"
          [disabled]="term.templateTerm.primary || term.term.type === 'action'"
        />
      </td>
      <td class="name" [ngClass]="{ disabled: !term.assigned }">
        {{ term.term.term | multilang }}
        <ul *ngIf="term.terms != null && term.terms.length > 0">
          <li *ngFor="let subTerm of term.terms">
            <p-checkbox
              [ngModel]="subTerm.hasParent( term.key )" [binary]="true"
              (ngModelChange)="changeSubTermSelection( subTerm, term.key ); configService.delaySave()"
              [disabled]="!term.assigned"
            />{{ subTerm.term.term | multilang }}
          </li>
        </ul>
      </td>
      <td [ngClass]="{ disabled: !term.assigned }">{{term.term.valueType}}</td>
      <td style="text-align: center; padding-top: 0.3125rem">
        <p-triStateCheckbox
          [(ngModel)]="term.required"
          (ngModelChange)="configService.delaySave()"
          [disabled]="term.templateTerm.primary || term.term.type === 'action' || !term.assigned"
          [styleClass]="term.required == null ? ( term.templateTerm.required ? 'triStateCheckbox-null-true' : 'triStateCheckbox-null-false' ) : ( term.required === false ? 'triStateCheckbox-false' : '' )"
        />
      </td>
      <td style="text-align: center; padding-top: 0.3125rem">
        <p-triStateCheckbox
          [(ngModel)]="term.editable"
          (ngModelChange)="configService.delaySave()"
          [disabled]="term.templateTerm.primary || term.term.type === 'action' || !term.assigned"
          [styleClass]="term.editable == null ? ( term.templateTerm.editable ? 'triStateCheckbox-null-true' : 'triStateCheckbox-null-false' ) : ( term.editable === false ? 'triStateCheckbox-false' : '' )"
        />
      </td>
      <td style="text-align: right; padding-top: 0.125rem; padding-right: 1rem; width: 3.5rem; min-width: 3.5rem">
        <p-button icon="pi pi-refresh" *ngIf="!term.templateTerm.primary && term.term.type !== 'action' && term.assigned"
          pTooltip="{{ 'RESET' | translate }}" tooltipPosition="left" [positionTop]="-5" [positionLeft]="3"
          (click)="resetTerm( term ); configService.delaySave()"
          styleClass="minibutton" [ngClass]="isEmpty( term.required ) && isEmpty( term.editable ) ? 'p-button-light' : ''"
        />
      </td>
    </tr>
    <ng-container *ngIf="rowIndex === terms.length - 1" [ngTemplateOutlet]="publicationInfo"/>
  </ng-template>

  <ng-template pTemplate="summary"/>

</p-table>
