<p-table #table
  [value]="this.configService.configTenant.subrubrics"
  [scrollable]="true" scrollHeight="flex"
  rowGroupMode="rowspan" groupRowsBy="template.code"
  sortField="template.code" sortMode="single"
  styleClass="p-datatable-sm"
>

  <ng-template pTemplate="header">
    <tr>
      <th colspan="6" style="padding:0.25rem"></th>
    </tr>

  </ng-template>

  <ng-template pTemplate="body" let-subRubricConfig let-rowgroup="rowgroup" let-rowspan="rowspan">
    <tr>
      <td *ngIf="rowgroup" [attr.rowspan]="rowspan" style="width: 6rem; min-width: 6rem; padding-left: 1rem">{{ subRubricConfig.template.code }}</td>
      <td *ngIf="rowgroup" [attr.rowspan]="rowspan" style="width: 50vw; min-width: 20rem">{{ subRubricConfig.template.name | multilang }}</td>
      <td *ngIf="rowgroup" [attr.rowspan]="rowspan" style="width: 6rem; min-width: 6rem; text-align: right; padding-right: 0.75rem">
        <p-button icon="pi pi-eye" *ngIf="subRubricConfig.template.exampleUrl"
          pTooltip="{{ 'PREVIEW' | translate }}" tooltipPosition="left" [positionTop]="-7"
          (click)="preview( subRubricConfig.template.exampleUrl )"
          styleClass="p-button-help"
        />
        <p-button icon="pi pi-angle-right"
          pTooltip="{{ 'ADD' | translate }}" tooltipPosition="right" [positionTop]="-7"
          (click)="add( subRubricConfig )"
          [ngStyle]="{ marginLeft: '0.25rem' }"
        />
      </td>
      <ng-template [ngIf]="subRubricConfig.use">
        <td [pEditableColumn]="subRubricConfig.code" pEditableColumnField="code" style="width: 8rem; min-width: 8rem; max-width: 8rem">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <div class="p-inputgroup" style="min-width: 100%">
                <input pInputText
                  [(ngModel)]="subRubricConfig.map"
                  type="text" maxlength="7"
                  [placeholder]="getSubRubricCodeOrSubstitute( '', subRubricConfig.template.code )"
                  (change)="fixCode( subRubricConfig ); configService.delaySave()"
                  style="min-height: 2rem" [style]="{ borderRightStyle: isEmpty( subRubricConfig.map ) ? 'solid' : 'none', borderTopRightRadius: isEmpty( subRubricConfig.map ) ? '6px' : '0', borderBottomRightRadius: isEmpty( subRubricConfig.map ) ? '6px' : '0' }"
                />
                <button pButton type="button" icon="pi pi-refresh"
                  pTooltip="{{ 'RESET' | translate }}" tooltipPosition="right" [positionLeft]="0" [positionTop]="0"
                  (click)="subRubricConfig.map = ''; configService.delaySave()"
                  pStyleClass="p-button-warn" [style]="{ display: isEmpty( subRubricConfig.map ) ? 'none' : 'inline-flex' }"
                ></button>
              </div>
            </ng-template>
            <ng-template pTemplate="output">
              <span [ngClass]="{ overridden: !isEmpty( subRubricConfig.map ) , 'error': !isUnique( this.getSubRubricCodeOrSubstitute( subRubricConfig.map, subRubricConfig.template.code )) }">
                {{ this.getSubRubricCodeOrSubstitute( subRubricConfig.map, subRubricConfig.template.code ) }}
              </span>
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]="subRubricConfig.name" pEditableColumnField="name" style="width: 50vw; min-width: 20rem">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <div class="p-inputgroup" style="min-width: 100%">
                <input pInputText type="text" *ngIf="translateService.currentLang === 'de'"
                  [(ngModel)]="subRubricConfig.name.de"
                  [placeholder]="subRubricConfig.template.name.de"
                  (change)="configService.delaySave()"
                  style="min-height: 2rem" [style]="{ borderRightStyle: isEmpty( subRubricConfig.name.de ) ? 'solid' : 'none', borderTopRightRadius: isEmpty( subRubricConfig.name.de ) ? '6px' : '0', borderBottomRightRadius: isEmpty( subRubricConfig.name.de ) ? '6px' : '0' }"
                />
                <input pInputText type="text" *ngIf="translateService.currentLang === 'fr'"
                  [(ngModel)]="subRubricConfig.name.fr"
                  [placeholder]="subRubricConfig.template.name.fr"
                  (change)="configService.delaySave()"
                  style="min-height: 2rem" [style]="{ borderRightStyle: isEmpty( subRubricConfig.name.fr ) ? 'solid' : 'none', borderTopRightRadius: isEmpty( subRubricConfig.name.fr ) ? '6px' : '0', borderBottomRightRadius: isEmpty( subRubricConfig.name.fr ) ? '6px' : '0' }"
                />
                <input pInputText type="text" *ngIf="translateService.currentLang === 'it'"
                  [(ngModel)]="subRubricConfig.name.it"
                  [placeholder]="subRubricConfig.template.name.it"
                  (change)="configService.delaySave()"
                  style="min-height: 2rem" [style]="{ borderRightStyle: isEmpty( subRubricConfig.name.it ) ? 'solid' : 'none', borderTopRightRadius: isEmpty( subRubricConfig.name.it ) ? '6px' : '0', borderBottomRightRadius: isEmpty( subRubricConfig.name.it ) ? '6px' : '0' }"
                />
                <input pInputText type="text" *ngIf="translateService.currentLang === 'en'"
                  [(ngModel)]="subRubricConfig.name.en"
                  [placeholder]="subRubricConfig.template.name.en"
                  (change)="configService.delaySave()"
                  style="min-height: 2rem" [style]="{ borderRightStyle: isEmpty( subRubricConfig.name.en ) ? 'solid' : 'none', borderTopRightRadius: isEmpty( subRubricConfig.name.en ) ? '6px' : '0', borderBottomRightRadius: isEmpty( subRubricConfig.name.en ) ? '6px' : '0' }"
                />
                <button pButton type="button" icon="pi pi-refresh"
                  pTooltip="{{ 'RESET' | translate }}" tooltipPosition="left" [positionLeft]="-1" [positionTop]="0"
                  (click)="subRubricConfig.name.set( '', translateService.currentLang ); configService.delaySave()"
                  pStyleClass="p-button-warn" [style]="{ display: isEmpty( subRubricConfig.name.get( translateService.currentLang )) ? 'none' : 'inline-flex' }"
                ></button>
              </div>
            </ng-template>
            <ng-template pTemplate="output">
              <span [ngClass]="{ overridden: !MultiLang.translationIsEmpty( subRubricConfig.name, translateService.currentLang ) }">
                {{ MultiLang.translateWithPlaceholder( subRubricConfig.name, subRubricConfig.template.name, translateService.currentLang ) }}
              </span>
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="width: 6.25rem; min-width: 6.25rem; text-align: right; padding-right: 1rem">
          <p-button icon="pi pi-file-edit"
            pTooltip="{{ 'EDIT' | translate }}" tooltipPosition="left" [positionTop]="-7"
            (click)="detail( subRubricConfig )"
          />
          <p-button icon="pi pi-trash"
            pTooltip="{{ 'DELETE' | translate }}" tooltipPosition="left" [positionTop]="-7"
            (click)="delete( subRubricConfig )"
            styleClass="p-button-danger" [ngStyle]="{ marginLeft: '0.25rem' }"
          />
        </td>
      </ng-template>
      <ng-template [ngIf]="!subRubricConfig.use">
        <td style="width: 8rem; min-width: 8rem"></td>
        <td style="width: 50vw; min-width: 20rem"></td>
        <td style="width: 6rem; min-width: 6rem"></td>
      </ng-template>
    </tr>
  </ng-template>
</p-table>
